* {
    
}

#video-box{
    position: absolute;
    left: 84px;
    top: 185px;
    width: 1383px;
    height: 820px;
    background-color: #FFF;
    box-shadow: 40px 40px 40px rgb(0, 0, 0, 0.5);
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: absolute;
    left: 50px;
    top: 40px;
    width: 1280px;
    height: 740px;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    border: 0px solid;
    display: flex;
    justify-content: space-between;
}
.content div{
    padding: 1em;
    font-size: 50%;
}

#creators{
    padding: 0 0 0 1em;
}